body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
  }
  header {
    text-align: center;
    padding: 2rem;
    background-color: #0073e6;
    color: white;
  }
  nav {
    display: flex;
    justify-content: center;
    background: #333;
  }
  nav a {
    color: white;
    padding: 1rem;
    text-decoration: none;
  }
  nav a:hover {
    background: #575757;
  }
  section {
    padding: 2rem;
  }
  footer {
    text-align: center;
    padding: 1rem;
    background: #0073e6;
    color: white;
  }
  .profile-image {
    width: 150px; /* Adjust the size */
    height: 150px; /* Make it square */
    border-radius: 50%; /* Make it circular */
    display: block;
    margin: 10px auto; /* Center the image */
  }